<a href="https://colab.research.google.com/github/KodumuruRaja/Exploratory-Data-Analysis-EDA-/blob/main/EDA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data1=pd.read_csv("/content/drive/MyDrive/ipl_analysis.zip (Unzipped Files)/ipl/matches.csv")
data2=pd.read_csv("/content/drive/MyDrive/ipl_analysis.zip (Unzipped Files)/ipl/deliveries.csv")

In [ ]:
data1.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [ ]:
data1.tail()

      id  season       city  ...          umpire1          umpire2 umpire3
631  632    2016     Raipur  ...   A Nand Kishore     BNJ Oxenford     NaN
632  633    2016  Bangalore  ...     AK Chaudhary  HDPK Dharmasena     NaN
633  634    2016      Delhi  ...        M Erasmus    C Shamshuddin     NaN
634  635    2016      Delhi  ...        M Erasmus        CK Nandan     NaN
635  636    2016  Bangalore  ...  HDPK Dharmasena     BNJ Oxenford     NaN

[5 rows x 18 columns]

In [ ]:
data2.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [ ]:
data2.tail()

        match_id  inning  ... dismissal_kind  fielder
150455       636       2  ...            NaN      NaN
150456       636       2  ...        run out  NV Ojha
150457       636       2  ...            NaN      NaN
150458       636       2  ...            NaN      NaN
150459       636       2  ...            NaN      NaN

[5 rows x 21 columns]

In [ ]:
data1.describe()

               id       season  ...  win_by_wickets  umpire3
count  636.000000   636.000000  ...      636.000000      0.0
mean   318.500000  2012.490566  ...        3.372642      NaN
std    183.741666     2.773026  ...        3.420338      NaN
min      1.000000  2008.000000  ...        0.000000      NaN
25%    159.750000  2010.000000  ...        0.000000      NaN
50%    318.500000  2012.000000  ...        4.000000      NaN
75%    477.250000  2015.000000  ...        7.000000      NaN
max    636.000000  2017.000000  ...       10.000000      NaN

[8 rows x 6 columns]

In [ ]:
data2.describe()

            match_id         inning  ...     extra_runs     total_runs
count  150460.000000  150460.000000  ...  150460.000000  150460.000000
mean      318.281317       1.482188  ...       0.069022       1.291466
std       182.955531       0.501768  ...       0.349667       1.583240
min         1.000000       1.000000  ...       0.000000       0.000000
25%       161.000000       1.000000  ...       0.000000       0.000000
50%       319.000000       1.000000  ...       0.000000       1.000000
75%       476.000000       2.000000  ...       0.000000       1.000000
max       636.000000       4.000000  ...       7.000000       7.000000

[8 rows x 13 columns]

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [ ]:
data1['umpire3'].unique()

array([nan])

In [ ]:
data1['umpire3'].nunique()

0

In [ ]:
data3=data1.drop(['umpire3'],axis=1)

In [ ]:
data3.head()

   id  season  ...         umpire1        umpire2
0   1    2017  ...     AY Dandekar       NJ Llong
1   2    2017  ...  A Nand Kishore         S Ravi
2   3    2017  ...     Nitin Menon      CK Nandan
3   4    2017  ...    AK Chaudhary  C Shamshuddin
4   5    2017  ...             NaN            NaN

[5 rows x 17 columns]

In [ ]:
data3.to_csv("umpire3 dropped csv",index=False)

In [ ]:
data3['id'].count()

636

In [ ]:
data2['match_id'].count()

150460

In [ ]:
print("Total number of matches played is", data1.shape)

Total number of matches played is (636, 18)

In [ ]:
print("Total number of matches played is", data3.shape[0])

Total number of matches played is 636

In [ ]:
print("Total number of seasons played is", data3['season'].count())

Total number of seasons played is 636

In [ ]:
print("Total number of Seasons:",data3['season'].nunique())

Total number of Seasons: 10

In [ ]:
data3['player_of_match']

0        Yuvraj Singh
1           SPD Smith
2             CA Lynn
3          GJ Maxwell
4           KM Jadhav
            ...
631           V Kohli
632    AB de Villiers
633      MC Henriques
634         DA Warner
635       BCJ Cutting
Name: player_of_match, Length: 636, dtype: object

In [ ]:
data3['player_of_match'].value_counts()

CH Gayle          18
YK Pathan         16
AB de Villiers    15
DA Warner         15
SK Raina          14
                  ..
AD Mascarenhas     1
DP Nannes          1
SP Goswami         1
S Sohal            1
RA Tripathi        1
Name: player_of_match, Length: 201, dtype: int64

In [ ]:
data3['player_of_match'].value_counts()[0]

18

In [ ]:
print("Most player of the match award:",data3['player_of_match'].value_counts()[:10])

Most player of the match award: CH Gayle          18
YK Pathan         16
AB de Villiers    15
DA Warner         15
SK Raina          14
RG Sharma         14
MS Dhoni          13
G Gambhir         13
MEK Hussey        12
AM Rahane         12
Name: player_of_match, dtype: int64

In [ ]:
data3['winner'].value_counts()

Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: winner, dtype: int64

In [ ]:
print("Highest number of wins of a team is:",data3['winner'].value_counts()[:1])

Highest number of wins of a team is: Mumbai Indians    92
Name: winner, dtype: int64

In [ ]:
data3['win_by_runs'].value_counts()

0      349
9        9
23       9
7        9
10       9
      ...
51       1
50       1
47       1
144      1
42       1
Name: win_by_runs, Length: 86, dtype: int64

In [ ]:
data3['win_by_runs']>20

0       True
1      False
2      False
3      False
4      False
       ...
631    False
632    False
633     True
634    False
635    False
Name: win_by_runs, Length: 636, dtype: bool

In [ ]:
Example=data3['win_by_runs']>100

In [ ]:
Example.value_counts()

False    629
True       7
Name: win_by_runs, dtype: int64

In [ ]:
Example

0      False
1      False
2      False
3      False
4      False
       ...
631    False
632    False
633    False
634    False
635    False
Name: win_by_runs, Length: 636, dtype: bool

In [ ]:
data3['city'].value_counts()

Mumbai            85
Bangalore         66
Kolkata           61
Delhi             60
Hyderabad         49
Chennai           48
Chandigarh        46
Jaipur            33
Pune              32
Durban            15
Centurion         12
Ahmedabad         12
Visakhapatnam     11
Rajkot            10
Dharamsala         9
Johannesburg       8
Ranchi             7
Abu Dhabi          7
Cape Town          7
Port Elizabeth     7
Cuttack            7
Sharjah            6
Raipur             6
Indore             5
Kochi              5
Kanpur             4
Kimberley          3
Nagpur             3
East London        3
Bloemfontein       2
Name: city, dtype: int64

In [ ]:
wq=data3['win_by_wickets'].value_counts()

In [ ]:
wq.min()

1

In [ ]:
wq.max()

297

In [ ]:
wq

0     297
7      70
6      68
5      57
8      48
4      34
9      32
3      15
10     10
2       4
1       1
Name: win_by_wickets, dtype: int64

In [ ]:
data3['city'].value_counts(['win_by_wickets'])

Mumbai            0.135135
Bangalore         0.104928
Kolkata           0.096979
Delhi             0.095390
Hyderabad         0.077901
Chennai           0.076312
Chandigarh        0.073132
Jaipur            0.052464
Pune              0.050874
Durban            0.023847
Centurion         0.019078
Ahmedabad         0.019078
Visakhapatnam     0.017488
Rajkot            0.015898
Dharamsala        0.014308
Johannesburg      0.012719
Ranchi            0.011129
Abu Dhabi         0.011129
Cape Town         0.011129
Port Elizabeth    0.011129
Cuttack           0.011129
Sharjah           0.009539
Raipur            0.009539
Indore            0.007949
Kochi             0.007949
Kanpur            0.006359
Kimberley         0.004769
Nagpur            0.004769
East London       0.004769
Bloemfontein      0.003180
Name: city, dtype: float64

In [ ]:
data3.max()

id                                636
season                           2017
date                       2017-05-21
team1             Sunrisers Hyderabad
team2             Sunrisers Hyderabad
toss_winner       Sunrisers Hyderabad
toss_decision                   field
result                            tie
dl_applied                          1
win_by_runs                       146
win_by_wickets                     10
venue                Wankhede Stadium
dtype: object

In [ ]:
data3['city'].value_counts()

Mumbai            85
Bangalore         66
Kolkata           61
Delhi             60
Hyderabad         49
Chennai           48
Chandigarh        46
Jaipur            33
Pune              32
Durban            15
Centurion         12
Ahmedabad         12
Visakhapatnam     11
Rajkot            10
Dharamsala         9
Johannesburg       8
Ranchi             7
Abu Dhabi          7
Cape Town          7
Port Elizabeth     7
Cuttack            7
Sharjah            6
Raipur             6
Indore             5
Kochi              5
Kanpur             4
Kimberley          3
Nagpur             3
East London        3
Bloemfontein       2
Name: city, dtype: int64

In [ ]:
data3['city'].value_counts('win_by_wickets')

Mumbai            0.135135
Bangalore         0.104928
Kolkata           0.096979
Delhi             0.095390
Hyderabad         0.077901
Chennai           0.076312
Chandigarh        0.073132
Jaipur            0.052464
Pune              0.050874
Durban            0.023847
Centurion         0.019078
Ahmedabad         0.019078
Visakhapatnam     0.017488
Rajkot            0.015898
Dharamsala        0.014308
Johannesburg      0.012719
Ranchi            0.011129
Abu Dhabi         0.011129
Cape Town         0.011129
Port Elizabeth    0.011129
Cuttack           0.011129
Sharjah           0.009539
Raipur            0.009539
Indore            0.007949
Kochi             0.007949
Kanpur            0.006359
Kimberley         0.004769
Nagpur            0.004769
East London       0.004769
Bloemfontein      0.003180
Name: city, dtype: float64

In [ ]:
data3['win_by_runs'].value_counts()

0      349
9        9
23       9
7        9
10       9
      ...
51       1
50       1
47       1
144      1
42       1
Name: win_by_runs, Length: 86, dtype: int64

In [ ]:
data4=data3[data3['city']=='Hyderabad']['win_by_wickets'].value_counts().reset_index()

In [ ]:
data4.rename(columns={'index':'won_by_wickets','win_by_wickets':'Number of times won'},inplace=True)

In [ ]:
data4

   won_by_wickets  Number of times won
0               0                   21
1               7                    9
2               5                    6
3               9                    4
4               6                    4
5               8                    3
6               4                    1
7               3                    1

In [ ]:
data4=data3[data3['win_by_wickets']==0]['city'].value_counts().reset_index()

In [ ]:
data4.rename(columns={'index':'city name','city':'no of times won by 0 wickets'},inplace=True)

In [ ]:
data4

         city name  no of times won by o wickets
0           Mumbai                            42
1          Chennai                            31
2        Bangalore                            30
3            Delhi                            29
4          Kolkata                            25
5        Hyderabad                            21
6       Chandigarh                            20
7             Pune                            16
8           Jaipur                            10
9           Durban                             9
10   Visakhapatnam                             7
11       Ahmedabad                             7
12      Dharamsala                             5
13       Cape Town                             5
14       Centurion                             4
15         Cuttack                             4
16       Abu Dhabi                             4
17          Rajkot                             4
18           Kochi                             3
19  Port Elizabeth                             3
20    Johannesburg                             3
21          Raipur                             2
22          Ranchi                             2
23         Sharjah                             2
24     East London                             2
25          Nagpur                             2
26       Kimberley                             1
27    Bloemfontein                             1

In [ ]:
data4=data3[data3['win_by_wickets']==10]['city'].value_counts().reset_index()

In [ ]:
data4

    city name  city
0      Mumbai     2
1  Chandigarh     2
2      Rajkot     2
3      Jaipur     1
4   Bangalore     1
5       Delhi     1
6   Cape Town     1

In [ ]:
data5=data4['city name'].tolist()

In [ ]:
data5

['Mumbai',
 'Chennai',
 'Bangalore',
 'Delhi',
 'Kolkata',
 'Hyderabad',
 'Chandigarh',
 'Pune',
 'Jaipur',
 'Durban',
 'Visakhapatnam',
 'Ahmedabad',
 'Dharamsala',
 'Cape Town',
 'Centurion',
 'Cuttack',
 'Abu Dhabi',
 'Rajkot',
 'Kochi',
 'Port Elizabeth',
 'Johannesburg',
 'Raipur',
 'Ranchi',
 'Sharjah',
 'East London',
 'Nagpur',
 'Kimberley',
 'Bloemfontein']

In [ ]:
data6=data3[(data3['win_by_wickets']==0)&(data3['city'].isin(data5))]['city'].value_counts().reset_index()

In [ ]:
data6.rename(columns={'index':'won_by_wickets','city':'name of city'},inplace=True)

In [ ]:
data6

    won_by_wickets  name of city
0           Mumbai            42
1          Chennai            31
2        Bangalore            30
3            Delhi            29
4          Kolkata            25
5        Hyderabad            21
6       Chandigarh            20
7             Pune            16
8           Jaipur            10
9           Durban             9
10   Visakhapatnam             7
11       Ahmedabad             7
12      Dharamsala             5
13       Cape Town             5
14       Centurion             4
15         Cuttack             4
16       Abu Dhabi             4
17          Rajkot             4
18           Kochi             3
19  Port Elizabeth             3
20    Johannesburg             3
21          Raipur             2
22          Ranchi             2
23         Sharjah             2
24     East London             2
25          Nagpur             2
26       Kimberley             1
27    Bloemfontein             1

In [ ]:
data7=data3[data3['win_by_runs']>145]['winner'].value_counts().reset_index()

In [ ]:
data7

            index  winner
0  Mumbai Indians       1

In [ ]:
data7=data3[data3['win_by_wickets']==10]['winner'].value_counts().reset_index()

In [ ]:
data7

                         index  winner
0  Royal Challengers Bangalore       2
1             Delhi Daredevils       1
2        Kolkata Knight Riders       1
3              Kings XI Punjab       1
4          Chennai Super Kings       1
5              Deccan Chargers       1
6          Sunrisers Hyderabad       1
7               Mumbai Indians       1
8             Rajasthan Royals       1